.hero_container {
  margin: 30px auto;
  position: relative;
  height: 34vw;
  background-image: url("../../assets/header_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
}

.hero_content {
  position: absolute;
  bottom: 50px;
  max-width: 50%;
  left: 100px;
  max-height: 100%;
  animation: fadIn 2s;
}
.hero_content h1 {
  font-size: 48px;
  color: #f3eaea;
  line-height: 1.3;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.hero_content p {
  font-size: 15px;
  color: #f3eaea;
  line-height: 1.3;
  margin-bottom: 20px;
}
.btn_view_menu {
  background-color: #f8f4f4c9 !important;
  color: var(--blackcolor);
}
@keyframes fadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1050px) {
  .hero_content {
    max-width: 60%;
  }
  .hero_content h1 {
    font-size: 40px;
    color: #f3eaea;
    line-height: 1.3;
    text-transform: capitalize;
    margin-bottom: 0px;
  }
  .hero_content p {
    font-size: 12px;
    color: #f3eaea;
    line-height: 1.3;
    margin-bottom: 20px;
  }
}
@media (max-width: 750px) {
  .hero_content h1 {
    font-size: 25px;
    color: #f3eaea;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .hero_content {
    max-width: 65%;
  }
  .hero_content p {
    display: none;
  }
  .hero_content button {
    padding: 2vw 4vw;
  }
}
@media (max-width: 500px) {
  .hero_content h1 {
    font-size: 20px;
    line-height: 1.2;
  }
  .hero_content {
    position: absolute;
    bottom: 10px;
    max-width: 70%;
    left: 50px;
  }
}
